@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<hr />
<h2 class="text-danger">@Model.Message</h2>
<br />
<a asp-action="Index" class="btn btn-info"> Voltar </a>